body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #f5f7fa, #c8d6e5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#initial-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#initial-ui p {
    font-size: 24px;
    margin-bottom: 20px;
}

#initial-ui button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}

#initial-ui button:hover {
    background-color: #0056b3;
}

#logo-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    width: 100%; 
}

#chat-container {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 20px - 80px - 100px);
    width: 70vw;
    margin: 20px 0;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    border-radius: 20px;
    overflow: hidden;
    background: #ffffff;
}

#chat-window {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

#chat-input-container {
    display: flex;
    padding: 15px;
    background: #f7f7f7;
}

#chat-input {
    flex: 1;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #d4d4d4;
    transition: border 0.3s, box-shadow 0.3s;
}

#chat-input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 15px rgba(0,123,255,0.5);
    outline: none;
}

#send-button {
    margin-left: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

#send-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,123,255,0.5);
}

.sent-message, .received-message {
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    opacity: 0;
    animation: fadeInMove 0.5s forwards;
    width: 50%;
    transition: transform 0.2s, box-shadow 0.3s;
}

@keyframes fadeInMove {
    to {
        opacity: 1;
    }
}

.sent-message {
    align-self: flex-end;
    background-color: #007BFF;
    color: white;
}

.sent-message:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,123,255,0.5);
}

.received-message {
    align-self: flex-start;
    background-color: #e6e6e6;
}

.received-message:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    #chat-window {
        padding: 10px;
    }

    #chat-input {
        padding: 5px;
        font-size: 14px;
    }

    #send-button {
        padding: 5px 10px;
        font-size: 14px;
    }

    .sent-message, .received-message {
        font-size: 14px;
        padding: 8px;
        width: 70%;
    }

    #logo-container {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1000;
    }

    #chat-container {
        max-height: calc(100vh - 20px - 60px);
        margin-top: 100px; 
    }
}

#deleteConversationBtn {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#deleteConversationBtn:hover {
    background-color: darkblue;
}

#gc-logo {
    height: 80px;
    width: auto;
}

#loading-icon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#clip-icon {
    cursor: pointer;
    margin-right: 10px;
}
